* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-size: inherit;
 font-weight: 400;
}

body {
    background-color: #eeefef;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;

}

.header-inner {

}

.content {

}

.content-inner {
    background-color: #f0f9e7;
    padding: 15px;
    min-height: 78vh;
}

.container {
    max-width: 950px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 23.3%;
    box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
    margin-bottom: 15px;
    min-width: 250px;
}

.card-top__right-circle {
    background: #fc8183;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    }

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.card-top__left-title {
    margin-bottom: 5px;

}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-bottom__increment, 
.card-bottom__dicrement {
    background-color: transparent;
    border: 0;
    font-weight: bold;
}

.card-bottom__increment {
    color: red;
}

.card-bottom__dicrement {
    color: green;
}

.cards-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #ffd9da;
    margin-top: auto;
}

@media (max-width: 890px) {
    .content-inner {
        background-color: transparent;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .cards-inner {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }
    .card {
        width: 100%;
    }
    .content-inner__title {
        display: none;
    }
    .container-inner__subtitle {
        display: none;
    }
    .header-inner {
        text-align: center;
    }
    .header, .footer {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}